.movie {

    display: flex;
    justify-content: space-evenly;

}


.movie2 {
    background-color: rgb(11, 11, 66);
    width: 100%;
    padding: 50px;
}

.what {
    text-align: center;
    color: white;
}

.card2 {
    border-radius: 10px;
    transition-delay: 0.3s;
    transition-timing-function: ease-in;



}

.card2:hover {
    transform: scale(1.02);
}


.card h1 {
    color: white;
}

#bottone {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 10px;
    background: #d832a1;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}